<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oops!!</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>

<body class="alt">
<nav class="navbar">
    <a href="/">Home</a>
    <a href="/upload_image">Let's Create!</a>
    <a href="/contact_us_page">Reach Out</a>
    <a href="/profile_page">
        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="25" fill="currentColor"
             class="bi-bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
        </svg>
    </a>
</nav>

<div class="container">
    <h1 class="alt">Oops! Something went wrong...!</h1>
    <div class="error-section">
        <p>It seems that an error has occurred. Please try again later.</p>
        <p>If the problem persists, you can contact us for further assistance.</p>
        <p class="error-details">{{ error }}!</p>
    </div>
    <div class="buttons">
        <button>
            <a href="/" class="try-again-btn">Go to Home</a>
        </button>
        <button>
            <a href="/contact_us_page" class="try-again-btn">Reach Out?</a>
        </button>
    </div>
</div>

<footer>
    <p>&copy; 2024 ArtifyMe. All rights reserved.</p>
</footer>
</body>

</html>