<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtifyMe - Profile</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar">
    {% if user_field and user_field.username %}
        <a href="/signout">Sign Out</a>
        <a href="/home/{{ user_field.username }}">Home</a>
        <a href="/upload_image/{{ user_field.username }}">Let's Create!</a>
        <a href="/contact_us_page/{{ user_field.username }}">Reach Out</a>
        <a href="/profile/{{ user_field.username }}" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="25" fill="currentColor"
                 class="bi-bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </a>
    {% else %}
        <a href="/signin">Sign In</a>
        <a href="/">Home</a>
        <a href="/upload_image">Let's Create!</a>
        <a href="/contact_us_page">Reach Out</a>
        <a href="/profile" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="25" fill="currentColor"
                 class="bi-bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
        </a>
    {% endif %}
</nav>
{#<div>#}
{#    <svg xmlns="http://www.w3.org/2000/svg" width="560" height="560" fill="currentColor" class="bi bi-emoji-frown"#}
{#         viewBox="0 0 16 16">#}
{#        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>#}
{#        <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.5 3.5 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.5 4.5 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5"/>#}
{#    </svg>#}
{#</div>#}

<div class="profile-info">
    <div class="profile-box">
        <div class="profile-pic">
            {% if user_field.username %}
                <img alt="Profile Picture" src="../../static/images/img3.jpg">
            {% else %}
                <img alt="Profile Picture" src="../../static/images/image-not-available.jpg">
            {% endif %}
        </div>
        <h2>Welcome {{ user_field.name }}!</h2>
        <p>Email: {{ user_field.username }}</p>
        <p>Member since: {{ user_field.reg_date }}</p>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <p style="color: red; font-weight: bold; text-align: center">{{ message[0] }}</p>
            {% endif %}
        {% endwith %}
        <a href="/edit_profile/{{ user_field.username }}" class="edit-btn">Edit Profile</a>
    </div>
</div>

{#<div class="profile-gallery">#}
{#    <h2>Your Creations</h2>#}
{#    <div class="gallery-grid">#}
{#        {% if user_field.username %}#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/output_images/portrait_virat-kohli.jpeg" alt="Img">#}
{#                <img src="../../static/images/img1.jpg" alt="img">#}
{#                <img src="../../static/images/img3.jpg" alt="img">#}
{#            </div>#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/input_images/20230508_184905.jpg" alt="img">#}
{#                <img src="../../static/images/img3.jpg" alt="img">#}
{#                <img src="../../static/images/img2.jpeg" alt="img">#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/images/image-not-available.jpg" alt="Img">#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}

<footer>
    <p>&copy; 2024 ArtifyMe. All rights reserved.</p>
</footer>

</body>

</html>