<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtifyMe - Profile</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar">
    {% if user_field and user_field.username %}
        <a href="/signout">Sign Out</a>
        <a href="/home/{{ user_field.username }}">Home</a>
        <a href="/upload_image/{{ user_field.username }}">Let's Create!</a>
        <a href="/contact_us_page/{{ user_field.username }}">Reach Out</a>
        <a href="/profile/{{ user_field.username }}" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="25" fill="currentColor"
                 class="bi-bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
            </svg>
        </a>
    {% else %}
        <a href="/signin">Sign In</a>
        <a href="/">Home</a>
        <a href="/upload_image">Let's Create!</a>
        <a href="/contact_us_page">Reach Out</a>
        <a href="/profile" class="active">
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="25" fill="currentColor"
                 class="bi-bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
                <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
            </svg>
        </a>
    {% endif %}
</nav>

<div class="profile-info">
    <div class="profile-box">
        <h1>Profile</h1>
        <h3>Welcome {{ user_field.name }}!</h3>
        <p>Email: {{ user_field.username }}</p>
        <p>Member since: {{ user_field.reg_date }}</p>
        {% with message = get_flashed_messages() %}
            {% if message %}
                <p style="color: red; font-weight: bold; text-align: center">{{ message[0] }}</p>
            {% endif %}
        {% endwith %}
        <a href="/profile/edit/{{ user_field.user_id }}" class="edit-btn">Edit Profile</a>
        <a href="/delete" id="delete-btn" class="edit-btn">Delete Profile</a>
    </div>
</div>

<div id="confirmPopup" class="Popup">
    <div class="Popup-content">
        <div class="Popup-header">
            <h2>Confirm Deletion</h2>
        </div>
        <div class="Popup-body">
            <p>Are you sure you want to delete this profile? This action cannot be undone.</p>
            <input type="password" id="passwordPopup" placeholder="Enter your password" required>
        </div>
        <div class="Popup-footer">
            <button id="confirmDelete" class="btn-confirm">Yes, Delete</button>
            <button id="cancelDelete" class="btn-cancel">Cancel</button>
        </div>
    </div>
</div>

{#<div class="profile-gallery">#}
{#    <h2>Your Creations</h2>#}
{#    <div class="gallery-grid">#}
{#        {% if user_field.username %}#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/output_images/portrait_virat-kohli.jpeg" alt="Img">#}
{#                <img src="../../static/images/img1.jpg" alt="img">#}
{#                <img src="../../static/images/img3.jpg" alt="img">#}
{#            </div>#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/input_images/20230508_184905.jpg" alt="img">#}
{#                <img src="../../static/images/img3.jpg" alt="img">#}
{#                <img src="../../static/images/img2.jpeg" alt="img">#}
{#            </div>#}
{#        {% else %}#}
{#            <div class="gallery-item">#}
{#                <img src="../../static/images/image-not-available.jpg" alt="Img">#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}

<footer>
    <p>&copy; 2024 ArtifyMe. All rights reserved.</p>
</footer>

<script>
    document.getElementById('delete-btn').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('confirmPopup').style.display = 'block';
    });

    document.getElementById('confirmDelete').addEventListener('click', function () {
        const password = document.getElementById('passwordPopup').value;
        if (password) {

            const form_data = document.createElement('form');
            form_data.action = '/profile/delete/{{ user_field.user_id }}';
            form_data.method = 'POST';

            const input_field = document.createElement('input');
            input_field.type = 'hidden';
            input_field.name = 'verifyPassword';
            input_field.value = password

            form_data.appendChild(input_field);
            document.body.appendChild(form_data);
            form_data.submit();
        } else {
            alert("Please enter your password!");
        }
    });

    document.getElementById('cancelDelete').addEventListener('click', function () {
        document.getElementById('confirmPopup').style.display = 'none';
    });

    window.onclick = function (event) {
        if (event.target === document.getElementById('confirmPopup')) {
            document.getElementById('confirmPopup').style.display = 'none';
        }
    };
</script>
</body>
</html>